@* @model IQueryable<VidlyTest.Models.Customer> *@
@* @model List<VidlyTest.Models.Customer *@
@model List<VidlyTest.Models.Customer>

@Html.Partial("_Layout")

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repellendus.</p>

@*@if (@Model == null)
{
    <h2>Object is NULL !</h2>
}

else
{
    <h2>@Model.Name</h2>
}*@